/**
 * =====================================================
 * Size Token
 * 对齐官方档位语义，略放宽横向 padding 提升清晰度
 * =====================================================
 */

@vxe-size-default-row: 48px;
@vxe-size-medium-row: 44px;
@vxe-size-small-row: 40px;
@vxe-size-mini-row: 36px;

@vxe-size-default-header: 48px;
@vxe-size-medium-header: 44px;
@vxe-size-small-header: 40px;
@vxe-size-mini-header: 36px;

@vxe-size-default-column-padding: 13px 0;
@vxe-size-medium-column-padding: 11px 0;
@vxe-size-small-column-padding: 8px 0;
@vxe-size-mini-column-padding: 6px 0;

@vxe-size-default-padding-x: 16px;
@vxe-size-medium-padding-x: 14px;
@vxe-size-small-padding-x: 12px;
@vxe-size-mini-padding-x: 10px;

@vxe-size-default-font: 14px;
@vxe-size-medium-font: 13px;
@vxe-size-small-font: 13px;
@vxe-size-mini-font: 12px;

@vxe-size-default-control: 16px;
@vxe-size-medium-control: 16px;
@vxe-size-small-control: 14px;
@vxe-size-mini-control: 14px;

@vxe-size-default-input: (@vxe-size-default-row - 10px);
@vxe-size-medium-input: (@vxe-size-medium-row - 10px);
@vxe-size-small-input: (@vxe-size-small-row - 10px);
@vxe-size-mini-input: (@vxe-size-mini-row - 10px);

@vxe-toolbar-height: 48px;
@vxe-pager-height: 36px;

@vxe-row-height: @vxe-size-default-row;
@vxe-header-height: @vxe-size-default-header;
@vxe-cell-padding-x: @vxe-size-default-padding-x;
@vxe-cell-padding: 0 @vxe-cell-padding-x;
@vxe-font-size-table: @vxe-size-default-font;
@vxe-control-size: @vxe-size-default-control;

@vxe-row-mini: @vxe-size-mini-row;
@vxe-row-small: @vxe-size-small-row;
@vxe-row-normal: @vxe-size-default-row;
@vxe-row-large: @vxe-size-medium-row;
@vxe-cell-padding-small: 0 @vxe-size-small-padding-x;
@vxe-cell-padding-large: 0 @vxe-size-medium-padding-x;