/**
 * =====================================================
 * Typography
 * =====================================================
 */

@vxe-font-family: Inter, -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Noto Sans", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Open Sans", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

@vxe-font-size-xs: 12px;

@vxe-font-size-sm: 13px;

@vxe-font-size-md: 14px;

@vxe-font-size-lg: 16px;

@vxe-font-weight-normal: 400;

@vxe-font-weight-medium: 500;

@vxe-font-weight-bold: 600;
