/**
 * =====================================================
 * Logistics Node
 * =====================================================
 */

.table-node {
  display: flex;

  align-items: center;

  gap: 6px;
}

/**
 节点圆点
 */

.table-node-dot {
  width: 8px;

  height: 8px;

  border-radius: 50%;
}

.node-complete {
  background: @business-node-complete;
}

.node-processing {
  background: @business-node-processing;
}

.node-warning {
  background: @business-node-warning;
}

.node-error {
  background: @business-node-error;
}
