/**
 * =====================================================
 * Priority
 * =====================================================
 */

.priority-high {
  color: @business-priority-high;
  font-weight: @vxe-font-weight-bold;
}

.priority-normal {
  color: @business-priority-normal;
}

.priority-low {
  color: @business-priority-low;
}