/**
 * =====================================================
 * Risk
 * =====================================================
 */

.biz-risk {
  font-size: 12px;
}

.biz-risk-high {
  color: @vxe-danger;
}

.biz-risk-medium {
  color: @vxe-warning;
}

.biz-risk-low {
  color: @vxe-success;
}
